:root {
    --size-photo: 170px;
    --size-border: 8px;
    --color-background: white;
}
.Avatar .photo {
    margin: 0 auto;
    align-items: center;
    background-image: linear-gradient(45deg, #ffa95f 5%, #f99c4a 15%, #f47838 30%, #e75157 45%, #d92d7a 70%, #cc2a92 80%, #c32e92 95%);
    box-sizing: border-box;
    display: flex;
    height: var(--size-photo);
    justify-content: center;
    overflow: hidden;
    padding: var(--size-border);
    width: var(--size-photo);
}
.Avatar .photo, .Avatar .photo > img {
    border: var(--size-border) solid var(--color-background, white);
    border-radius: 50%;
    object-fit: cover;
}
.Avatar .photo > img {
    border-width: calc(0.5 * var(--size-border));
    height: auto;
    margin: 0;
    transform: scale(1.1);
    transition: transform 0.6s ease-in-out;
    width: 100%;
}
.Avatar .photo.has-story img {
    transform: scale(1);
}

.Avatar {
    color: inherit;
    text-align: center;
    text-decoration: none;
}

.Avatar .nickname {
    font-weight: 400;
}
